{% extends 'main/base.html' %}

{% block title %}Подписчики{% endblock %}

{% block content %}

<ol class="list-group">
    {% for subscriber in user.subscribers %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{url_for('user_blueprint.user_profile', user_id=subscriber.subscription.id)}}" class="w-100">
                <div class="ms-2 me-auto d-flex align-items-center">
                <img class="rounded-circle me-2" width="32" height="32" src="{{ url_for('utils_blueprint.media_files', filename='avatar/' + subscriber.subscription.avatar) }}" alt="{{ subscriber.subscription.username }}'s avatar">
                <div class="align-self-center">
                    <div class="fw-bold">
                        {{ subscriber.subscription.username }}
                    </div>
                    {% if subscriber.subscription.bio %}
                    <p style="font-size: smaller;" class="m-0">{{ subscriber.subscription.bio }}</p>
                    {% endif %}
                </div>
            </div>
            </a>
        </li>
    {% else %}
<li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                У тебя нету пидписок
            </div>
        </div>
    </li>
    {% endfor %}
</ol>

{% endblock %}
