{% extends 'main/base.html' %}

{% block title %} new post {% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">Подтверждение почты</h2>
    <form method="post" enctype="multipart/form-data" class="p-4 form-control m-auto shadow-sm">
        {{ code_form.hidden_tag() }}
        {{ code_form.cod.label(class="form-label") }}
    <div class="form-group mb-3 d-flex gap-3">
        {{ code_form.cod(class="form-control", placeholder="Введите код подтверждения") }}
        {{ code_form.submit(class="btn btn-primary") }}
    </div>
</form>

</div>

{% endblock %}
