<nav class="navbar bg-body-tertiary mb-3 ">
  <div class="container-fluid container">
    <a class="navbar-brand" href="/">Social Network</a>
    {% if current_user.is_authenticated %}
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="flex-column flex-shrink-0 p-2 offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="max-width: 280px;">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Social Network</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <hr>
      <div class="d-flex flex-column flex-shrink-0 text-bg-dark mb-auto">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a href="/" class="nav-link text-white">
              Главная
            </a>
          </li>
          <li>
            <a href="{{ url_for('message_view.get_chats')}}" class="nav-link text-white">
              Чаты
            </a>
          </li>
          <li>
            <a href="{{ url_for('publication_blueprint.publication_create')}}" class="nav-link text-white">
              Публикация
            </a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="btn-group dropup">
        <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="rounded-circle me-2" width="32" height="32" src="{{ url_for('utils_blueprint.media_files', filename='avatar/' + current_user.avatar) }}" alt="{{ current_user.username }}'s avatar">
          <strong>{{current_user.username}}</strong></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{url_for('user_blueprint.profile')}}">Профиль</a></li>
          <li><a class="dropdown-item" href="{{url_for('reg_auth_blueprint.logout')}}"><i class="bi bi-box-arrow-left m-1"></i>Выйти</a></li>
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</nav>
